$background-selection-color: #1bc88f;
$font-selection-color: #ffffff;

$main-font-color: #000000;
$main-background-color: #dfe0e2;
$main-line-color: #807558;

$border-color: #9f3d1f;

// $background-selection-color: #2a936e;
// $font-selection-color: #ffffff;

// $main-font-color: #1dc7cd;
// $main-background-color: #2b2b2b;
// $main-line-color: #d00754;

// $border-color: #373737;