$background-selection-color: #4720f7;
$font-selection-color: #0a1f44;

$main-font-color: #1f4e79;
$main-background-color: #d5d9e3;
$main-line-color: #3d217c;

$border-color: #bfa3b9;

// $background-selection-color: #2a936e;
// $font-selection-color: #ffffff;

// $main-font-color: #1dc7cd;
// $main-background-color: #2b2b2b;
// $main-line-color: #d00754;

// $border-color: #373737;
